@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.container{
    @include flex_box_custom(center,center, 80px);
    margin-top: 30px;
    flex-wrap: wrap;
    height: auto;
    
}


.containerList{
    @include flex_box_custom(flex-start,center, 10px);
    margin-right: 20px;
    margin-left: 20px;
    background-size: cover;
    flex-wrap: wrap;    
    
}


.containerItem{
    @include flex_box_custom(center ,center, 0px);
    height: 390px;
    border-radius: 10px; 
    transition: transform 500ms; 
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    

    &:hover {
        transform: translateY(-3px); 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        border: 1px solid $seconddary_color;
    }
}

.productsName{
    @include flex_box_custom(center,center,0px);
    margin: 12px;
    
}