@use '@styles/variables.module.scss' as*;
@use'@styles/mixins.module.scss' as*;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.container{
    @include flex_box_custom(space-between,space-between,0px);
    flex-direction: column;
    height:100vh ;
    padding-bottom:20px;
    font-family: "Roboto Mono", monospace ;

    .subtotal{
        @include flex_box_custom(space-between,center,100px);
        padding: 20px;
        flex-direction: row;
        font-size: 16px;
        font-weight: bold;
    }
    
    
    .boxContent{
    
        .CartIcon{
            @include flex_box_custom(center,center,0px);
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 20px;
        }
    
        .title{
            font-family: "Roboto Mono", monospace
        }
    }
    

}

