
.wrapLayout{
    display: flex;
    justify-content: center;
   
    
}

.container{
    width: 1540px;
    
}

body {
    margin: 0;
    padding: 0;
    background-color:rgba(255, 248, 220, 0.733)
}