@use '@styles/variables.module.scss' as*;
@use'@styles/mixins.module.scss' as*;



.container{
    @include flex_box_custom(center,center, 0px);
    width: 100%;
    background-color: $another-color;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    left: 0;
    right: 0;
    z-index:1000;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1); 
    
}
.topHeader{
    top: 0;


}
.fixedHeader{
    position: fixed;
    top:-87px;
    background-color: $another-color;
    z-index:1000;
    transform: translateY(100%);
    transition: transform 0.4s ease

}
.containerHeader{
    @include flex_box_custom(space-between,center, 20px);
    width:1600px; 
    padding: 0 30px;
    box-sizing: border-box; 
    height: 83px;
   
}

.containerMenu{
    @include flex_box_custom(center,center,90px)
}

.containerBox{
    @include flex_box_custom(center,center,20px)
}

.containerBoxIcon{
    @include flex_box_custom(center,center,25px)
}


.menu{
    cursor: pointer;
    padding-top: 7px;
    font-size: 16px;
    color: white;

    .link {
        text-decoration: none; 
        color: inherit; 

    }
}
.menu::after{
    content: '';
    display: block;
    height: 3px;
    background-color: white;
    margin-top: 6px;
    transform-origin: right;
    transform: scale(0);
    opacity: 0 ;
    transition: transform 300ms, opacity 500ms;
    border-radius: 2px;
}

.menu:hover::after{
    opacity: 1;
    transform: scale(1);
}

// @media (max-width: 768px) {
//     .containerMenu {
//         display: none; // Ẩn menu trên màn hình nhỏ
//     }

//     .containerHeader {
//         @include flex_box_custom(space-between, center, 10px); // Điều chỉnh padding
//         height: 60px; // Giảm chiều cao của header
//     }

//     .containerBoxIcon {
//         @include flex_box_custom(center, center, 20px); // Giảm khoảng cách giữa các icon
//     }
// }