
@use '@styles/variables.module.scss' as*;
@use'@styles/mixins.module.scss' as*;

.container{
    @include flex_box_custom(center,center,0px);
    margin: 40px 0px 30px;
    

}

.headline{
    height: 2px;
    width:100%;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    @media (max-width: 768px) {
        margin-top: 20px; // Giảm khoảng cách trên cùng của headline
        width: 20%;
    }
}

.containerMiddleBox{
    @include flex_box_custom(center,center,0px);
    flex-direction: column;
    width:70%;
    padding: 0px 60px;
    line-height: 9px;
}


.title{
    font-size: 22px;
    color: $another-color;

    @media (max-width: 768px) {
        font-size: 22px; // Giảm kích thước font chữ cho màn hình nhỏ
    }

    @media (max-width: 576px) {
        font-size: 16px; // Giảm thêm cho màn hình rất nhỏ
        
    }
}