@use '@styles/variables.module.scss' as*;
@use'@styles/mixins.module.scss' as*;


.container{
    position: relative;
    min-height: 10px  
}

.attention{
    @include flex_box_custom(center,center, 0px);
    padding-top: 10px;
    color: rgb(214, 37, 37);
    font-size: 18px
}
